@import '../../styles/variables.scss';

.navigator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 30px;
  }

  a {
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0.8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
